@model UnivSite.Models.StudentDetails.StudentDetailsModel

<div class="container">
    <div class="row">
        <div class=" col-md-2">
            <label>TransactionId:</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FeeDetails.TransactionId)
            @Html.ValidationMessageFor(model => model.FeeDetails.TransactionId)
        </div>
        <div class=" col-md-2">
            <label>Date:</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FeeDetails.Date)
            @Html.ValidationMessageFor(model => model.FeeDetails.Date)
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-2">
            <label>Phone Number Residence</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FeeDetails.PayeeName)
            @Html.ValidationMessageFor(model => model.FeeDetails.PayeeName)
        </div>
        <div class=" col-md-2">
            <label>EmailId</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FeeDetails.FathersName)
            @Html.ValidationMessageFor(model => model.FeeDetails.FathersName)
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-2">
            <label></label>
        </div>
        <div class="col-md-4">
            <input type="button" title="save" value="Save"/>
        </div>
        @*<div class=" col-md-2">
            <label></label>
        </div>
        <div class="col-md-4">
            <input type="button" title="Cancel" />
        </div>*@
    </div>

</div>
