@model UnivSite.Models.StudentDetails.StudentDetailsModel

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class=" col-md-2">
            <label>Name:</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(Model => Model.PersonalDetails.ApplicantName)
            @Html.ValidationMessageFor(Model => Model.PersonalDetails.ApplicantName)
        </div>
        <div class=" col-md-2">
            <label>Mother Name:</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(Model => Model.PersonalDetails.MotherName)
            @Html.ValidationMessageFor(Model => Model.PersonalDetails.MotherName)
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-2">
            <label>Father Name:</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(Model => Model.PersonalDetails.FatherName)
            @Html.ValidationMessageFor(Model => Model.PersonalDetails.FatherName)
        </div>
    </div>
    <div class=" row">
        <div class=" col-md-2">
            <label></label>
        </div>
        <div class="col-md-4">
            <input type="button" title="save" value="Save" />
        </div>
        @*<div class=" col-md-2">
            <label></label>
        </div>
        <div class="col-md-4">
            <input type="button" title="Cancel" />
        </div>*@
    </div>

</div>
